{{#if profile}}
  <td> {{profile.id}} </td>
  <td> {{profile.first_name}} {{profile.last_name}}  </td>
  <td> {{profile.nationality}} </td>
{{else}}
  <td> &nbsp; </td>
  <td> &nbsp; </td>
  <td> &nbsp; </td>
{{/if}}
