<h2>Games</h2>
<ul>
  {{#each model as |game|}}
  <h3>{{#link-to "game" game }} Game {{game.id}}{{/link-to}}</h3>
    <li>
      <table>
        <tr>
          <th>Player ID:</th>
          <th>Name:</th>
          <th>Nationality:</th>
        </tr>

        {{#each game.players as |player|}}
        {{!-- Gameview: --}}
        {{!-- {{game-view player_id=player}} --}}
          <tr>
            <td> {{player.id}} </td>
            <td> {{player.profile.first_name}} {{player.profile.last_name}}  </td>
            <td> {{player.profile.nationality}} </td>
          </tr>
        {{/each}}
        {{#if game.full}}
          <tr>THIS GAME IS FULL</tr>
        {{else}}
          <tr>{{join-team game=game joinGame='joinGame'}}</tr>
        {{/if}}
      </table>
      <ul>



      </ul>
    </li>
  {{/each}}
</ul>
