{{game-finder}}
<div class="container">
  <h2>Games</h2>
  {{#each model as |game|}}
    <h3>{{#link-to "game" game }} Game {{game.id}}{{/link-to}}</h3>
    <table class="table table-striped game-table">
      <thead>
        <tr>
          <th>Player ID:</th>
          <th>Name:</th>
          <th>Nationality:</th>
          <th>Ranking:</th>
          <th>Positions:</th>
          <th>Abandons/Reports</th>
          <th>Languages:</th>
          <th>Status:</th>
        </tr>
      </thead>
      <tbody>
        {{#each game.profiles as |profile spot|}}
          <tr>
            {{player-row game=game
                         profile=profile
                         current=profile_id
                         leaveGame='leaveGame'
                         unAuth='unAuth'}}
          </tr>
        {{/each}}
        {{#each (range game.profiles.length 5) as |index|}}
          <tr>
            {{player-row game=game
                         joinGame='joinGame'
                         leaveGame='leaveGame'
                         unAuth='unAuth'}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <div class='centered'>
      {{#if game.open}}
        {{game-buttons game=game
                       unAuth='unAuth'
                       joinGame='joinGame'
                       leaveGame='leaveGame'}}
      {{else}}
        <p class='centered'>UA Game full</p>
      {{/if}}
    </div> --}}
  {{/each}}
</div>
