<h2>Games</h2>

<h2>PROFILES IS {{players}}</h2>
{{#each model as |game|}}
  <h3>{{#link-to "game" game }} Game {{game.id}}{{/link-to}}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player ID:</th>
        <th>Name:</th>
        <th>Nationality:</th>
      </tr>
    </thead>
    <tbody>
    {{#each game.profiles as |profile|}}
    {{!-- Gameview: --}}
    {{!-- {{game-view game=game}} --}}
      <tr>
        <td> {{profile.id}} </td>
        <td> {{profile.first_name}} {{profile.last_name}}  </td>
        <td> {{profile.nationality}} </td>
      </tr>
    {{/each}}
    </tbody>
    {{#if game.full}}
      <tr>THIS GAME IS FULL</tr>
    {{else}}
      {{#if isAuthenticated}}
      <tr>
        <td>{{join-team game=game joinGame='joinGame'}}</td>
        <td>{{leave-team game=game leaveGame='leaveGame'}}</td>
      </tr>
      {{else}}
        <tr>
          <td>{{unauth-button name='Join Game' unAuth='unAuth'}}</td>
          <td>{{unauth-button name='Leave Game' unAuth='unAuth'}}</td>
        </tr>
      {{/if}}
    {{/if}}
  </table>
{{/each}}
