<div>
  <div class='back-green'>
    Profile Picture
  </div>
  <div>
    {{#if profile.first_name}}
    Name: {{profile.first_name}} {{profile.last_name}}
    Nationality: {{profile.nationality}}
    {{#link-to 'profile/edit' profile}}
      <button class="btn btn-primary">
        Edit
      </button>
    {{/link-to}}
    {{else}}
      {{profile-edit profile=profile}}
    {{/if}}
    {{!-- {{profile-edit profile=profile editFirstName='editFirstName'}} --}}
  </div>
</div>
