<span>
  {{#if isAuthenticated}}
    {{join-team game=game joinGame='joinGame'}}
    {{leave-team game=game leaveGame='leaveGame'}}
  {{else}}
    {{unauth-button name='UA Join Game' unAuth='unAuth'}}
    {{unauth-button name='UA Leave Game' unAuth='unAuth'}}
  {{/if}}
</span>
