{{#if profile.first_name}}
  Editing {{profile.first_name}} {{profile.last_name}}'s Profile #{{profile.id}}
{{else}}
  Create your new profile!
{{/if}}

<form {{action 'editFirstName' on='submit'}}>
  {{input placeholder='First Name'
          class='input-group form-control'
          value=profile.newFirstName
  }}
  {{input placeholder='Last Name'
          class='input-group form-control'
          value=profile.newLastName
  }}
  {{input placeholder='New Nationality'
          class='input-group form-control'
          value=profile.newNationality
  }}
  <input type='submit' value='Save'>
</form>
